{% extends "layout.html" %} {% block content %}
    <title>Hello from Flask</title>
    <h1>Hello {{ current_user.first_name }}!</h1>
    <div>
        <h2>Users</h2>
        {% for user in users %} {{user}} {% endfor %}
    </div>
    <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/views/incidents">Incidents</a>
            </h2>
            <p class="nhsuk-card__description">View all incidents</p>
        </div>
    </div>
{% endblock %}

