{% extends "layout.html" %}

{% block head %}
    <header class="nhsuk-header nhsuk-header--transactional" role="banner">
        <div class="nhsuk-width-container nhsuk-header__container">
            <div class="nhsuk-header__logo">
                <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
                    <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
                        <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
                        <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                    </svg>
                </a>
            </div>
            <div class="nhsuk-header__transactional-service-name">
                <a class="nhsuk-header__transactional-service-name--link" href="/">Software Engineering and DevOps</a>
            </div>
        </div>

    </header>
{% endblock %}

{% block content %}
    {%if form.errors %}
        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                There was a problem signing up
            </h2>
            <div class="nhsuk-error-summary__body">

                {% for error in form.errors %}
                    {% for error in form.errors[error] %}
                        <li>
                            {{error}}
                        </li>
                    {%endfor%}
                    </div>
                {% endfor %}
            </div>
    {%endif%}
    <h1>Sign Up</h1>
    <p>Please enter the details below, if you would like to sign in to an existing account, click here <a href="/auth/login">here</a></p>
    <form method="POST" action="/auth/signup">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--l" for="email">
                Email address
            </label>

            {{form.email}}
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--l" for="first-name">
                First Name
            </label>
            {{form.first_name}}
        </div>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--l" for="last-name">
                Last Name
            </label>
            {{form.last_name}}
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--l" for="password">
                Password
            </label>
            {{form.password}}
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--l" for="confirm-password">
                Confirm Password
            </label>
            {{form.confirm_password}}
        </div>
        {{form.submit}}
    </form>
{% endblock %}